rules_version = '2';
// TEST MODE
// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /{document=**} {
//       allow read, write: if
//           request.time < timestamp.date(2020, 12, 19);
//     }
//   }
// }

// Auth only write
service cloud.firestore {
  match /databases/{database}/documents {
    match /infusions/{document=**} {
    	allow read: if true;
      allow write, update, delete: if request.auth != null;
    }
    match /feedback/{document=**} {
			allow read: if request.auth.uid == '3OHCqKgvsYbMiGfKDavqq7Duveg1';
      allow write: if request.auth != null;
    }
    match /users/{document=**} {
			allow read: if true;
      allow write, update: if request.auth != null;
    }
  }
}