/** biome-ignore-all lint/complexity/noImportantStyles: ok here for external libraries */
.SheetWithKeyboard-view {
  --sheetWithKeyboard-radius: 24px;

  /* SELF-LAYOUT */
  z-index: 1;
  top: 0;
  bottom: initial;
  /* Adding 60px to make it fully visible below iOS Safari's
    bottom UI */
  height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}

.SheetWithKeyboard-backdrop {
  /* Ensure backdrop can receive outside clicks to dismiss */
  position: fixed !important;
  inset: 0 !important;
  z-index: 0 !important;
}

@media (min-width: 800px) {
  .SheetWithKeyboard-view {
    /* SELF-LAYOUT */
    height: 100%;
  }
}

.SheetWithKeyboard-content {
  /* SELF-LAYOUT */
  box-sizing: border-box;
  height: calc(100% - max(env(safe-area-inset-top), 6px));

  /* APPEARANCE */
  border-radius: var(--sheetWithKeyboard-radius) var(--sheetWithKeyboard-radius)
    0 0;
  overflow: clip;
  /* biome-ignore lint/suspicious/noDuplicateProperties: correct behavior requires two overflows */
  overflow: hidden;
  background-color: white;
}
@media (min-width: 800px) {
  .SheetWithKeyboard-content {
    /* SELF-LAYOUT */
    width: calc(800px - 1.25rem);
    height: calc(100% - 2rem * 2);

    /* APPEARANCE */
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: var(--sheetWithKeyboard-radius);
  }
}
