/** biome-ignore-all lint/complexity/noImportantStyles: this is a valid use case */
/** biome-ignore-all lint/suspicious/noDuplicateProperties: this is a valid use case*/
.SheetWithKeyboard-view {
  --sheetWithKeyboard-radius: 24px;

  /* SELF-LAYOUT */
  z-index: 1;
  top: 0;
  bottom: initial;
  /* Adding 60px to make it fully visible below iOS Safari's
    bottom UI */
  height: calc(var(--silk-100-lvh-dvh-pct) + 60px);
}

.SheetWithKeyboard-backdrop {
  /* Ensure backdrop can receive outside clicks to dismiss */
  position: fixed !important;
  inset: 0 !important;
  z-index: 0 !important;
}

@media (min-width: 800px) {
  .SheetWithKeyboard-view {
    /* SELF-LAYOUT */
    height: 100%;
  }
}

.SheetWithKeyboard-content {
  /* SELF-LAYOUT */
  box-sizing: border-box;
  height: calc(100% - max(env(safe-area-inset-top), 6px));

  /* APPEARANCE */
  border-radius: var(--sheetWithKeyboard-radius) var(--sheetWithKeyboard-radius)
    0 0;
  overflow: clip;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.05);
}
@media (min-width: 800px) {
  .SheetWithKeyboard-content {
    /* SELF-LAYOUT */
    width: min(calc(100vw - 2rem), 480px);
    max-width: 480px;
    height: auto;
    max-height: calc(100vh - 2rem);

    /* APPEARANCE */
    box-shadow:
      0 25px 50px -12px rgb(0 0 0 / 0.15),
      0 0 0 1px rgb(0 0 0 / 0.05);
    border-radius: var(--sheetWithKeyboard-radius);
  }
}
